# OS Cruft
.DS_Store

# Package Managers
vendor/
node_modules/

# Craft CMS
config/license.key

# Environment specific config
.env
/htpasswd
web/.htaccess
.tm_properties
*.code-workspace
.idea/
.vscode/

# User data
web/media/
web/images/

# Testing
templates/test.twig
