/* Custom Components */

/* Fluid embed iframes */
.responsive-embed {
    position: relative;
    iframe {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
    }
}

/* Lazyloading images etc. */
.lazyload,
.lazyloading {
    transition: all 0.3s;
    opacity: 0.3;
    background: transparent no-repeat scroll center center;
    background-image: url("data:image/svg+xml,%0A%3Csvg width='38' height='38' xmlns='http://www.w3.org/2000/svg' stroke='%23CCCCCC'%3E%3Cg transform='translate(1 1)' stroke-width='2' fill='none' fill-rule='evenodd'%3E%3Ccircle stroke-opacity='.5' cx='18' cy='18' r='18'/%3E%3Cpath d='M36 18A18 18 0 0 0 18 0'%3E%3CanimateTransform attributeName='transform' type='rotate' from='0 18 18' to='360 18 18' dur='0.9s' repeatCount='indefinite'/%3E%3C/path%3E%3C/g%3E%3C/svg%3E");
    background-size: auto 25%;
}
.lazyloaded {
    transition: all 0.3s;
    opacity: 1;
    background-image: none;
}

/* Buttons */
/* button styles */
.button-default {
    @apply px-5 py-2.5 rounded-lg;
    @apply inline-flex gap-1.5 items-center justify-between;
    @apply font-title text-base;
    line-height: 150%;
    @apply hover:no-underline active:no-underline;
    @apply motion-safe:transition origin-center duration-150;
}
.button-default {
    @apply text-gray-700 bg-gray-200 shadow-2xs;
    @apply hover:text-gray-800 hover:bg-gray-300;
    @apply active:scale-85 active:opacity-50;
}

.button-dropdown,
.button-dropdown-active {
    @apply px-4 py-2 border;
    @apply inline-flex gap-6 items-center justify-between;
    @apply motion-safe:transition;
}

/* button internals */
.button-internal-icon {
    @apply size-4e shrink-0 relative overflow-hidden;
    @apply motion-safe:transition;

    &[data-position='start'] {
        @apply order-first -ml-1 group-hover:-translate-x-0.5e;
    }
    &[data-position='end'] {
        @apply order-last -mr-1 group-hover:translate-x-0.5e;
    }
}
