/* Grids and Layouts */

@layer base {
    :root {
        --layout-margin: var(--spacing-sm-lg);
        --layout-prose: clamp(20em, 65vw, 34em);
        @media (width >= theme(--breakpoint-xs)) {
            --layout-margin: var(--spacing-xl-4xl);
        }
        @media (width >= theme(--breakpoint-sm)) {
            --layout-margin: var(--spacing-lg-3xl);
        }
    }
}

/* Simple Container */
@layer utilities {
    .container {
        @apply px-layout-margin;
    }
}

/*
 Fine-grained Container via grid
*/
/* Base Grid */
/* prettier-ignore */
@utility layout-base {
    display: grid;
    grid-template-columns:
        [bleed-start]
            var(--layout-margin)
        [content-start main-start]
            minmax(0, 1fr)
        [content-end main-end]
            var(--layout-margin)
        [bleed-end];
    @media (width >= theme(--breakpoint-sm)) {
        grid-template-columns:
            [bleed-start]
                var(--layout-margin)
            [main-start]
                1fr
            [content-start]
                var(--layout-prose)
            [content-end]
                1fr
            [main-end]
                var(--layout-margin)
            [bleed-end];
    }
}

/* Container, Content Areas */
@utility area-main {
    grid-column: main-start / main-end;
}
@utility area-content {
    grid-column: content-start / content-end;
}
@utility area-content-main-left {
    grid-column: main-start / content-end;
}
@utility area-content-main-right {
    grid-column: content-start / main-end;
}

/* Bleeds */
@utility area-bleed {
    grid-column: bleed-start / bleed-end;
}
@utility area-bleed-left {
    grid-column: bleed-start / main-end;
}
@utility area-bleed-right {
    grid-column: main-start / bleed-end;
}
@utility area-content-bleed-left {
    grid-column: bleed-start / content-end;
}
@utility area-content-bleed-right {
    grid-column: content-start / bleed-end;
}
